.git
.github
.gitignore

other/datasets
other/images
other/genai_models/ner_model
other/codebase_structure.txt
other/database-info.csv
other/deepgram_api_key.txt
other/openai_api_key.txt

src/ai_integration/cache_dir
src/ai_integration/outputs
src/ai_integration/runs

.coverage
codecov.yml
coverage.xml
README.md

*__pycache__*
.idea/
*.DS_Store

environment.sh
pytest.ini
tests/
