*__pycache__*
.idea/
*.DS_Store
db.sqlite3
.env
dump.rdb

other/openai_api_key.txt
other/aws-info.csv
other/database-info.csv

other/genai_models/config.json
other/genai_models/model_args.json
other/genai_models/special_tokens_map.json
other/genai_models/model.safetensors
other/genai_models/tokenizer_config.json
other/genai_models/training_args.bin
other/genai_models/vocab.txt


src/ai_integration/cache_dir
src/ai_integration/outputs
src/ai_integration/runs