*__pycache__*
.idea/
*.DS_Store
db.sqlite3
.env
dump.rdb

other/openai_api_key.txt
other/aws-info.csv
other/database-info.csv
other/deepgram_api_key.txt

other/genai_models/llama-2-13b-chat.Q4_K_M.gguf
other/genai_models/ner_model


src/ai_integration/cache_dir
src/ai_integration/outputs
src/ai_integration/runs

htmlcov/
.coverage
coverage.xml